In [1]:
pip install prettytable==3.6.0 --upgrade

Requirement already satisfied: prettytable==3.6.0 in c:\users\computer point\anaconda3\lib\site-packages (3.6.0)
Requirement already satisfied: wcwidth in c:\users\computer point\anaconda3\lib\site-packages (from prettytable==3.6.0) (0.2.5)
Note: you may need to restart the kernel to use updated packages.

In [6]:
!pip install duckdb

Requirement already satisfied: duckdb in c:\users\computer point\anaconda3\lib\site-packages (1.3.2)

# **PaySim Fraud Detection Analysis**

This notebook explores the PaySim dataset using SQL (DuckDB).  
Objective: uncover fraud patterns, detection gaps, and financial risks.

- Only ~0.2% of fraudulent transactions are flagged (`isFlaggedFraud`).
- This highlights a **major detection gap**: most fraudulent activity goes unnoticed.
- Strengthening monitoring for **large-value transfers and cash-outs** could drastically reduce undetected fraud.

In [1]:
import os
import pandas as pd
import duckdb

# Step 3: Set your dataset folder path
path_dir = r"C:\Users\COMPUTER POINT\Desktop\PaySim_Dataset"

# Step 4: Connect to a DuckDB database file (or use ':memory:' for temp session)
con = duckdb.connect("PaySim_new.db")  # file-based DB (you can open again later)

In [7]:
import os
os.listdir()

['.ipynb_checkpoints',
 'olist_ecommerce_paysim_new.db',
 'PaySim_Dataset.ipynb',
 'paysim_new.db',
 'Pay_Sim.csv']

In [9]:
duckdb.query("SELECT COUNT(*) AS total_rows FROM 'Pay_Sim.csv'").df()

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

   total_rows
0     6362620

In [2]:
for file in os.listdir(path_dir):
    if file.endswith(".csv"):
        file_path = os.path.join(path_dir, file)
        df = pd.read_csv(file_path)
        table_name = file.replace(".csv", "")
        con.register(table_name, df)  # creates temp table/view
        con.execute(f"CREATE OR REPLACE TABLE {table_name} AS SELECT * FROM {table_name}")

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

In [11]:
con.execute("SHOW TABLES").df()

      name
0  Pay_Sim
1  Pay_Sim

In [ ]:
con.execute(""" SELECT * FROM Pay_Sim LIMIT 10 """).df()

##  1.Transaction Overview

-Total transactions 
-Types of fraud transactions
-Types of non-fraudulent transactions
-Fraud 
-Average fraud vs legit size

Short insight after each query.

- Fraudulent transactions make up only a **tiny fraction** of overall transactions, but their amounts are disproportionately high.
- Fraud rate is below 1%, but the **financial exposure per fraud** is much larger compared to legitimate transactions.

In [5]:
con.execute(""" 
SELECT COUNT(*) AS Total_Transactions 
FROM Pay_Sim
""").df()

   Total_Transactions
0             6362620

In [36]:
con.execute("""
SELECT DISTINCT(type), CAST(SUM(amount) OVER (PARTITION BY type) AS BIGINT) AS non_Fraudalent_amount, 
COUNT(*) OVER (PARTITION BY type) AS num_transaction_nonfraud
FROM Pay_Sim 
WHERE isFraud = 0 
ORDER BY num_transaction_nonfraud
""").df()

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

       type  non_Fraudalent_amount  num_transaction_nonfraud
0     DEBIT              227199221                     41432
1  TRANSFER           479224774079                    528812
2   CASH_IN           236367391912                   1399284
3   PAYMENT            28093371138                   2151495
4  CASH_OUT           388423792981                   2233384

In [15]:
con.execute("""
SELECT DISTINCT(type), CAST(SUM(amount) OVER (PARTITION BY type) AS BIGINT) AS Fraudalent_amount, COUNT(*) OVER (PARTITION BY type) AS num_transaction
FROM Pay_Sim
WHERE isFraud = 1

""").df()

       type  Fraudalent_amount  num_transaction
0  CASH_OUT         5989202244             4116
1  TRANSFER         6067213184             4097

In [20]:
con.execute("""
SELECT SUM(CASE WHEN isFraud = 1 THEN 1 ELSE 0 END)/ COUNT(*) AS Perc_Fraud_transaction
FROM Pay_Sim
 

""").df()

   Perc_Fraud_transaction
0                0.001291

In [25]:
con.execute("""
SELECT type, SUM(CASE WHEN isFraud = 1 THEN 1 ELSE 0 END) /COUNT(*) as fraud_perc, CAST (SUM(amount) AS BIGINT) as amount_per_type
FROM Pay_Sim
GROUP BY type
ORDER BY fraud_perc DESC
""").df()

       type  fraud_perc  amount_per_type
0  TRANSFER    0.007688     485291987263
1  CASH_OUT    0.001840     394412995224
2   PAYMENT    0.000000      28093371138
3   CASH_IN    0.000000     236367391912
4     DEBIT    0.000000        227199221

In [41]:
con.execute("""
SELECT ROUND(AVG(amount),2) as AVG_AMOUNT, COUNT(*) AS NUM_TRANS, CASE WHEN isFraud = 1 THEN 'Fraud' ELSE 'Legitimate' END TRANS_TYPE
FROM Pay_Sim
GROUP BY IsFraud
""").df()

   AVG_AMOUNT  NUM_TRANS  TRANS_TYPE
0  1467967.30       8213       Fraud
1   178197.04    6354407  Legitimate

## **User-Level Analysis**

-Unique fraud users → good for scale of problem
-Fraud attempts from victims account (nameOrig) and type of transaction
-Fraud attempts from receivers account (nameDest) and type of transaction
-Repeated fraud attempts from receivers account (nameDest) → recidivism risk.
-Velocity analysis → very realistic fraud detection feature(Short term/ Long term/ High Burst)

- Most destination accounts are used only once, but a subset show **repeat fraud attempts**.
- Categorizing repeat frauds:
  - **High Burst**: multiple frauds within a day.
  - **Short Term**: repeat fraud within a week.
  - **Long Term**: repeat fraud across longer periods.
- Short-term repeat frauds dominate, showing fraudsters test accounts quickly rather than over months.

In [43]:
con.execute("""
SELECT COUNT(DISTINCT(nameOrig)) as fraud_users
FROM Pay_Sim
WHERE isFraud = 1
""").df()
-out of 6 billion accounts only 8213 were unique distinct users which tells fraud in not widespread or systematic it is concentrated

   fraud_users
0         8213

In [26]:
con.execute("""
SELECT nameOrig, COUNT(*) AS num_trans, 
SUM(CASE WHEN type = 'TRANSFER' THEN amount ELSE 0 END) AS transfer_amount, 
SUM(CASE WHEN type = 'CASH_OUT' THEN amount ELSE 0 END) AS Cash_Out_amount
FROM Pay_Sim
WHERE isFraud = 1 
GROUP BY nameOrig
ORDER BY num_trans DESC
LIMIT 50
""").df()
-sender perspective no  victim account is used repeatedly for fraud.

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

       nameOrig  num_trans  transfer_amount  Cash_Out_amount
0   C1107458985          1        205129.12             0.00
1   C1954089665          1         15560.34             0.00
2   C1502031409          1             0.00         88748.63
3   C2031063966          1             0.00        623152.72
4   C1494570595          1             0.00        658637.38
5   C1919174675          1        343177.04             0.00
6     C55629100          1             0.00        343177.04
7   C1372492756          1         92145.40             0.00
8    C431054678          1        596127.11             0.00
9    C171367749          1             0.00       4677358.76
10  C1419528476          1       3011102.29             0.00
11   C934172571          1        414394.38             0.00
12   C293823168          1        253261.36             0.00
13  C1059771191          1             0.00        253261.36
14   C162432528          1             0.00        127018.14
15  C1976361494          1             0.00        114308.20
16  C1305572067          1             0.00        540530.08
17   C388892858          1        908228.29             0.00
18  C1063225525          1        272997.35             0.00
19  C1083881826          1        118499.44             0.00
20  C1197962253          1        116940.32             0.00
21   C828020985          1       1139165.57             0.00
22  C1597827743          1         60314.32             0.00
23  C1506215501          1             0.00         60450.18
24  C2030295854          1             0.00       7677120.59
25    C34007989          1             0.00       1891921.94
26    C34164934          1       2115503.99             0.00
27   C429080055          1             0.00       2115503.99
28   C233751269          1             0.00       7703574.71
29  C1233106691          1             0.00       1846748.79
30   C399282086          1             0.00       2701644.17
31  C1254740800          1             0.00       5807351.83
32   C397472180          1        972009.75             0.00
33   C692473423          1             0.00       1050635.77
34  C2099684775          1        627088.33             0.00
35  C1630644567          1        868004.62             0.00
36  C2043269100          1             0.00        978362.97
37   C619581802          1             0.00        442290.23
38   C739793738          1        879810.51             0.00
39  C1499124218          1      10000000.00             0.00
40   C576718894          1      10000000.00             0.00
41  C1057439889          1      10000000.00             0.00
42   C239857977          1      10000000.00             0.00
43   C866227621          1             0.00      10000000.00
44   C482076505          1       1101871.13             0.00
45   C795290167          1         18028.13             0.00
46   C373820487          1      10000000.00             0.00
47    C99029817          1             0.00      10000000.00
48  C1402670582          1       9110884.44             0.00
49  C1529702229          1             0.00        245970.86

In [53]:
con.execute("""
SELECT nameDest, COUNT(*) as num_trans, 
SUM(CASE WHEN type = 'TRANSFER' THEN amount ELSE 0 END) AS transfer_amount, 
SUM(CASE WHEN type = 'CASH_OUT' THEN amount ELSE 0 END) AS Cash_Out_amount
FROM Pay_Sim
WHERE isFraud = 1 
GROUP BY nameDest
order by num_trans DESC
LIMIT 50
""").df()
#from the perspective of receivers there were multiple account used which identifies the fraud channel. 
#Destination accounts were used as intermediary in either transfer of funds or cash out

       nameDest  num_trans  transfer_amount  Cash_Out_amount
0   C1148781766          2        449032.97         50523.78
1    C668046170          2      10000000.00        160088.68
2    C475338087          2             0.00        730733.52
3   C1185292292          2         10276.87        215299.28
4    C686334805          2             0.00        629142.78
5   C1399829166          2             0.00       3540009.28
6    C505532836          2             0.00        174238.21
7    C385133759          2             0.00       1396377.23
8    C803116137          2             0.00       1744765.69
9    C650699445          2         38580.45        369448.20
10  C1656842502          2        442722.01         81278.73
11  C1827800010          2       1050635.77         89845.29
12  C2129197098          2             0.00        991012.48
13   C185805228          2             0.00       1124385.07
14  C1827219533          2        819503.92         87999.25
15  C1193568854          2             0.00        397486.01
16    C14138104          2        461369.99       4135944.29
17  C1497532505          2             0.00        744832.46
18  C1325541393          2             0.00        350800.27
19  C1981613973          2             0.00       7265501.67
20   C643624257          2             0.00       3071716.97
21  C1837027614          2        434006.52        517183.38
22  C1980653895          2             0.00        134287.29
23  C1655359478          2             0.00        179543.43
24    C52390890          2       2068118.36        594577.22
25  C1653587362          2       1030417.74         28636.24
26   C904300960          2         30521.02       1397162.15
27  C1366192319          2       4830219.15       2231580.50
28   C935310781          2        472692.51         71372.00
29  C1601170327          2             0.00       2842694.99
30   C104038589          2        152042.16       2050727.81
31   C967226405          2             0.00       1416085.46
32   C964377943          2             0.00       6014862.39
33  C1013511446          2             0.00       2994972.20
34  C1669818195          2       7782452.17       1065787.82
35  C1460854172          2             0.00         38626.67
36   C200064275          2             0.00          8847.00
37  C1259079602          2        534255.94        680224.41
38   C105660024          2             0.00        514468.67
39  C1780714769          2        177680.54        540154.62
40   C644163395          2             0.00       1196176.06
41  C1650668671          2             0.00         46972.83
42   C410033330          2         13707.11        120074.73
43  C2020337583          2             0.00        579140.87
44  C2096107271          1       1054244.29             0.00
45  C1703277739          1             0.00       2095699.93
46    C27593268          1             0.00        489514.32
47   C871887337          1         93253.25             0.00
48  C1126082523          1        983417.49             0.00
49   C267782135          1       1649039.58             0.00

In [37]:
con.execute("""
With Fraud_counts AS (SELECT nameDest, COUNT(*) OVER (PARTITION BY nameDest) AS Fraud_counts
FROM Pay_Sim 
WHERE isFraud = 1
ORDER BY Fraud_counts DESC)
SELECT (SUM(CASE WHEN Fraud_counts > 1 THEN 1 ELSE 0 END)/ COUNT(*))*100 AS recidivism_risk,
COUNT(*) AS total_fraud_accounts,
SUM(CASE WHEN Fraud_counts > 1 THEN 1 ELSE 0 END) AS repeat_fraud_counts
FROM Fraud_counts
""").df()

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

   recidivism_risk  total_fraud_accounts  repeat_fraud_counts
0         1.071472                  8213                 88.0

In [27]:
con.execute("""
SELECT  nameDest, AVG(amount) AS avg_amount_receiver
FROM Pay_Sim
WHERE isFraud = 1 
GROUP BY  nameDest
ORDER BY avg_amount_receiver DESC
LIMIT 10
""").df()

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

      nameDest  avg_amount_receiver
0  C1908782637           10000000.0
1   C758711155           10000000.0
2    C19233081           10000000.0
3  C1973915590           10000000.0
4   C407821637           10000000.0
5  C1021550383           10000000.0
6  C1622860679           10000000.0
7   C428927923           10000000.0
8   C839316822           10000000.0
9  C1072055067           10000000.0

In [11]:
-velocity risk each step counts for 1 hour and total simulation is for 30 days

con.execute("""
SELECT DISTINCT(nameDest) , 
count(step) OVER (PARTITION BY nameDest) as num_step, 
MAX(step) OVER(PARTITION BY nameDest) as max_step , 
MIN(step) OVER (PARTITION BY nameDest) as min_step,
(MAX(step) OVER(PARTITION BY nameDest))-(MIN(step) OVER (PARTITION BY nameDest)) as step_diff,
CASE WHEN (MAX(step) OVER(PARTITION BY nameDest))-(MIN(step) OVER (PARTITION BY nameDest)) <= 24 THEN 'High Burst' 
     WHEN (MAX(step) OVER(PARTITION BY nameDest))-(MIN(step) OVER (PARTITION BY nameDest)) <= 168 THEN 'Short Term'
     ELSE 'Long Term' END AS recidivisim_risk_category

FROM Pay_Sim 
WHERE isFraud = 1
ORDER BY num_step DESC
limit 50


""").df()

,nameDest,num_step,max_step,min_step,step_diff,recidivisim_risk_category
0,C1399829166,2,314,212,102,Short Term
1,C1980653895,2,720,398,322,Long Term
2,C904300960,2,157,6,151,Short Term
3,C14138104,2,436,415,21,High Burst
4,C1827800010,2,724,368,356,Long Term
5,C1981613973,2,88,72,16,High Burst
6,C668046170,2,686,269,417,Long Term
7,C1827219533,2,95,36,59,Short Term
8,C964377943,2,401,300,101,Short Term
9,C1366192319,2,344,84,260,Long Term
10,C200064275,2,15,12,3,High Burst
11,C104038589,2,59,39,20,High Burst
12,C1655359478,2,560,450,110,Short Term
13,C105660024,2,294,183,111,Short Term
14,C644163395,2,105,73,32,Short Term
15,C1780714769,2,600,164,436,Long Term
16,C1601170327,2,281,148,133,Short Term
17,C1259079602,2,388,44,344,Long Term
18,C1193568854,2,736,497,239,Long Term
19,C935310781,2,46,35,11,High Burst
20,C2020337583,2,352,10,342,Long Term
21,C643624257,2,279,250,29,Short Term
22,C686334805,2,621,525,96,Short Term
23,C385133759,2,608,214,394,Long Term
24,C1325541393,2,387,141,246,Long Term
25,C52390890,2,83,22,61,Short Term
26,C1656842502,2,537,154,383,Long Term
27,C1013511446,2,74,9,65,Short Term
28,C1497532505,2,306,195,111,Short Term
29,C803116137,2,36,5,31,Short Term
30,C1148781766,2,650,376,274,Long Term
31,C1185292292,2,634,225,409,Long Term
32,C505532836,2,428,320,108,Short Term
33,C1460854172,2,730,255,475,Long Term
34,C967226405,2,254,163,91,Short Term
35,C1837027614,2,597,377,220,Long Term
36,C2129197098,2,262,176,86,Short Term
37,C185805228,2,18,16,2,High Burst
38,C475338087,2,628,71,557,Long Term
39,C1650668671,2,568,201,367,Long Term
40,C1669818195,2,571,446,125,Short Term
41,C1653587362,2,288,281,7,High Burst
42,C410033330,2,5,4,1,High Burst
43,C650699445,2,249,229,20,High Burst
44,C137816170,1,643,643,0,High Burst
45,C1306965361,1,262,262,0,High Burst
46,C1310143791,1,741,741,0,High Burst
47,C1335051776,1,250,250,0,High Burst
48,C1308026520,1,31,31,0,High Burst
49,C1320785064,1,613,613,0,High Burst

In [23]:

con.execute("""
WITH step_count as  (SELECT DISTINCT(nameDest) , 
count(step) OVER (PARTITION BY nameDest) as num_step, 
MAX(step) OVER(PARTITION BY nameDest) as max_step , 
MIN(step) OVER (PARTITION BY nameDest) as min_step,
(MAX(step) OVER(PARTITION BY nameDest))-(MIN(step) OVER (PARTITION BY nameDest)) as step_diff,
CASE WHEN (MAX(step) OVER(PARTITION BY nameDest))-(MIN(step) OVER (PARTITION BY nameDest)) <= 24 THEN 'High Burst' 
     WHEN (MAX(step) OVER(PARTITION BY nameDest))-(MIN(step) OVER (PARTITION BY nameDest)) <= 168 THEN 'Short Term'
     ELSE 'Long Term' END AS recidivisim_risk_category

FROM Pay_Sim 
WHERE isFraud = 1
ORDER BY num_step DESC
limit 44)

SELECT recidivisim_risk_category, count(*)  as num_trans, count(*)/ (SELECT count(*) FROM step_count) as perc_per_category
FROM step_count
GROUP BY recidivisim_risk_category
ORDER BY perc_per_category DESC



""").df()

  recidivisim_risk_category  num_trans  perc_per_category
0                Short Term         18           0.409091
1                 Long Term         17           0.386364
2                High Burst          9           0.204545

# **Transaction Size Patterns**
-Fraud distribution by transaction buckets and time buckets.
-Fraud rate higher in large-value transactions.

- Fraud is rare at small amounts but spikes at **higher transaction ranges**.
- Indicates fraudsters avoid small, suspicious activity and focus on **high-value single hits**.

In [39]:
con.execute("""
SELECT COUNT(amount) as num_transactions , 
CASE WHEN amount < 10000 THEN 'under  < 10k'
    WHEN amount < 100000 THEN '10k-100k' 
    ELSE 'greater than > 100K' END AS amount_bucket,
    CASE WHEN isFraud = 1 THEN 'Fraud' ELSE 'Legitimate' END AS account_type,
    
FROM Pay_Sim 
GROUP BY amount_bucket, account_type
ORDER BY num_transactions DESC, account_type ASC

""").df()

   num_transactions        amount_bucket account_type
0           2830858  greater than > 100K   Legitimate
1           2237824             10k-100k   Legitimate
2           1285725         under  < 10k   Legitimate
3              6506  greater than > 100K        Fraud
4              1429             10k-100k        Fraud
5               278         under  < 10k        Fraud

In [43]:
con.execute("""
SELECT COUNT(amount) as num_transactions, 
CASE WHEN amount < 10000 THEN 'under  < 10k'
    WHEN amount < 100000 THEN '10k-100k' 
    ELSE 'greater than > 100K' END AS amount_bucket,
    COUNT(*)/(SELECT COUNT(*) FROM Pay_Sim WHERE isFraud = 1) as perc_fraud_trans
    
FROM Pay_Sim
WHERE isFraud = 1
GROUP BY amount_bucket
ORDER BY perc_fraud_trans DESC
""").df()

   num_transactions        amount_bucket  perc_fraud_trans
0              6506  greater than > 100K          0.792159
1              1429             10k-100k          0.173992
2               278         under  < 10k          0.033849

In [48]:
con.execute("""
SELECT CASE 
    WHEN step % 24 BETWEEN 0 AND 6 THEN 'Night'
    WHEN step % 24 BETWEEN 7 AND 12 THEN 'Morning'
    WHEN step % 24 BETWEEN 13 AND 18 THEN 'Afternoon'
    ELSE 'Evening'
END AS hour_bucket, COUNT(*) as num_trans

FROM Pay_Sim
WHERE isFraud = 1
GROUP BY hour_bucket
ORDER BY num_trans DESC



""").df()

  hour_bucket  num_trans
0     Morning       2075
1   Afternoon       2081
2       Night       2354
3     Evening       1703

In [50]:
con.execute("""
SELECT
CASE 
    WHEN (step / 24) % 7 = 0 THEN 'Monday'
    WHEN (step / 24) % 7 = 1 THEN 'Tuesday'
    WHEN (step / 24) % 7 = 2 THEN 'Wednesday'
    WHEN (step / 24) % 7 = 3 THEN 'Thursday'
    WHEN (step / 24) % 7 = 4 THEN 'Friday'
    WHEN (step / 24) % 7 = 5 THEN 'Saturday'
    ELSE 'Sunday'
END AS day_of_week, count(*) as num_trans

FROM Pay_Sim
WHERE isFraud = 1
GROUP BY day_of_week
ORDER BY num_trans DESC
""").df()

  day_of_week  num_trans
0      Sunday       7953
1    Thursday         52
2    Saturday         50
3     Tuesday         44
4   Wednesday         42
5      Monday         38
6      Friday         34

# ** Detection Gap AND Fraud Impact**
-Top receivers by fraud amount or count
-Total amount lost to fraud
-Avg loss per event (detected fraud/ undetected fraud)
-Top 10 largest fraud cases

In [5]:
con.execute("""
SELECT nameDest, amount
FROM Pay_Sim
GROUP BY ROLLUP (nameDest, amount) 
ORDER BY amount DESC
LIMIT 10
""").df()

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

      nameDest       amount
0   C439737079  92445516.64
1   C753026640  73823490.36
2    C84111522  71172480.42
3   C167875008  69886731.30
4  C1472140329  69337316.27
5  C1757599079  67500761.29
6  C1073241084  66761272.21
7    C65111466  64234448.19
8   C514940761  63847992.58
9  C1871605747  63294839.63

In [26]:
con.execute("""
SELECT CAST ((SELECT SUM(amount) FROM Pay_Sim WHERE isFraud = 1 ) AS BIGINT) as total_amount_lost_to_fraud, 
(SELECT SUM(amount) FROM Pay_Sim WHERE isFraud = 1 )/SUM(amount)*100 as perc_fraud_to_total,
CAST((SELECT AVG(amount) FROM Pay_Sim WHERE isFraud = 1 ) AS BIGINT) as avg_loss_to_fraud_per_event

FROM Pay_Sim
""").df()

,total_amount_lost_to_fraud,perc_fraud_to_total,avg_loss_to_fraud_per_event
0,12056415428,1.053521,1467967

In [27]:
con.execute("""
SELECT SUM(CASE WHEN isFraud = 1 and isFlaggedFraud = 1 THEN 1 ELSE 0 END) AS detected_fraud, 
SUM(CASE WHEN isFraud = 1 and isFlaggedFraud = 0 THEN 1 ELSE 0 END) AS undetected_fraud

FROM Pay_Sim
""").df()

   detected_fraud  undetected_fraud
0            16.0            8197.0

In [29]:
con.execute("""
WITH fraud_count AS (SELECT SUM(CASE WHEN isFraud = 1 and isFlaggedFraud = 1 THEN 1 ELSE 0 END) AS detected_fraud, 
SUM(CASE WHEN isFraud = 1 and isFlaggedFraud = 0 THEN 1 ELSE 0 END) AS undetected_fraud
FROM Pay_Sim)
SELECT detected_fraud/(detected_fraud + undetected_fraud)*100 as detected_fraud_perc,
undetected_fraud/(detected_fraud + undetected_fraud)*100 as undetected_fraud_perc
FROM fraud_count
""").df()

   detected_fraud_perc  undetected_fraud_perc
0             0.194813              99.805187

In [34]:
con.execute("""
SELECT  CAST(AVG(CASE WHEN isFraud = 1 and isFlaggedFraud = 1 THEN AMOUNT ELSE NULL END) AS BIGINT) AS avg_detected_fraud,
CAST(AVG(CASE WHEN isFraud = 1 and isFlaggedFraud = 0 THEN AMOUNT ELSE NULL END) AS BIGINT) as avg_undetected_fraud
FROM Pay_Sim

""").df()

   avg_detected_fraud  avg_undetected_fraud
0             4861598               1461343